/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/


 body {
  background-image: url(assets/burger-friends.jpg);
  background-size:cover;
  background-attachment:fixed;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  overflow:hidden;
}

header {
  padding: 1em;
  margin: 0px;
  background-color: #0fb9b1;
  height:4em;
  display:flex;
  place-content:space-between;
}


#add-recipe {
  background:white;
  border-radius: 10px;
  width: 10em;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:1.5em;
}

#page-title {
  width:20em;
  margin:0px;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  font-size:3em;
  padding-left:1em;
}

section {
  height: 100%;
  width:auto;
  padding: 0px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}

.results-square,
.interactive-square {
  background-color:rgba(225, 225, 225, .9);
  width: 35%;
  height: 55%;
  margin-top:-300px;
}

 .results-square {
  display:flex;
  align-items:center;
  justify-content:center;
}

.results-div {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  width:100%;
  height:100%;
  margin-top:10rem;
}

  #clear-button {
  width:8rem;
  height:3rem;
  border-radius:8px;
  margin: 5rem 2rem 2rem 0rem;
  text-align:center;
  background-color:#95a5a6;
  border:none;
  align-self:flex-end;
}

 .block {
  font-size:1.75em;
  padding-left:3em;
}

.form-heading {
  font-size:1.75em;
  padding-left:.2em;
  font-weight:bold;
  width:12em;
  padding-top:5rem;
  }

label input {
  display:block;
}

input {
  margin-bottom:2.5em;
  border: 0px;
  height:1.5em;
  width:1.5em;
}

.form-button {
  border-radius:10px;
  width:14em;
  height:2.75em;
  background-color: #0fb9b1;
  border-style:none;
  font-size:.75em;
}


 .clip-art {
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  place-self:center;
}

#pot {
  width:25%;
}

.results-div {
  text-align:center;
  padding:1em;
}

.results-heading {
  font-size:1.5em;
  font-style:italic;
}

.results {
  font-size:3em;
}

#astrick {
  color:red;
}

#login {
  background-color:rgba(225, 225, 225, .9);
  width: 35%;
  height: 55%;
  margin-top:-300px;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  border-radius:150px;
  font-size:3em;
  border:solid;
  border-color:#0fb9b1;
}

#login-form {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}



#name {
  width:25em;
  height:3em;
  border-radius:10px;
  border:solid;
  border-color:#0fb9b1;
  font-size:.3em;
  text-align:center;
}

#login-button {
  width:10em;
  height:3em;
  border-radius:10px;
  border:none;
  background-color:#0fb9b1;
}

.hidden {
  display:none;
}
